<%= tag("img", src: current_user.image) %>
<h1><%= current_user.name %></h1>
<hr>
<%= @error %>
<div class="span4">
  <p>
    <%= link_to 'New Bucket', new_storage_path, :class => "btn" %>
  </p>
  <br>

  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">Buckets (<%= @buckets.count %>)</li>
      <% @buckets.each do |bucket| %>
        <li><%= link_to bucket.name, storage_path(bucket.name) %></li>
      <% end %>
    </ul>
  </div>
</div>
