<ul class="nav nav-tabs">
  <% unless params[:action] == "commit" %>
  <li class="branch-dropdown">
    <div class="btn-group">
      <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
        <i class="icon-random"></i>
        branch: <b><%= @branch[0..10] %></b>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% @branches.each do |branch| %>
          <li><%= link_to branch, tree_repository_path(@repository, branch, "") %></li>
        <% end %>
      </ul>
    </div>
  </li>
  <% end %>
  <li class="<%= 'active' if (params[:action] == 'show' || params[:action] == 'tree' || params[:action] == 'blob') %>">
    <%= link_to "Files", tree_repository_path(@repository, params["branch"] || "master", "") %>
  </li>
  <li class="<%= 'active' if (params[:action] == 'commits' || params[:action] == 'commit') %>">
    <%= link_to "Commits", commits_repository_path(@repository, params["branch"] || "master") %>
  </li>
</ul>

