<h2><%= @repository.name %></h2>

<ul class="nav nav-pills">
  <li class="dropdown" id="menu1">
    <div class="btn-toolbar">
      <div class="btn-group">
        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
          <%= @branch %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <% @repository.branches.each do |branch| %>
            <li><a href="?branch=<%= branch %>"><%= branch %></a></li>
          <% end %>
        </ul>
      </div>
      <div class="btn-group">
        <a href="<%= repository_path(@repository) %>/edit" class="btn btn-small dropdown-toggle" data-toggle="dropdown">
          Admin
        </a>
      </div>
    </div>
  </li>
</ul>

<ul class="nav nav-tabs">
  <li><a href="<%= repository_path(@repository) %>">Files</a></li>
  <li><a href="<%= repository_path(@repository) %>/commits/<%= @branch %>/">Commits</a></li>
</ul>

