<ul class="nav nav-tabs">
  <li class="branch-dropdown">
    <div class="btn-group">
      <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
        <i class="icon-random"></i>
        branch: <b><%= @branch[0..10] %></b>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% @branches.each do |branch| %>
          <li><a href="/<%= current_user.name %>/<%= @repository.name %>/tree/<%= branch %>"><%= branch %></a></li>
        <% end %>
      </ul>
    </div>
  </li>
  <li class="<%= 'active' if params[:action] == 'tree' %>">
    <a href="/<%= current_user.name %>/<%= @repository.name %>">Files</a>
  </li>
  <li class="<%= 'active' if params[:action] == 'commits' %>">
    <a href="/<%= current_user.name %>/<%= @repository.name %>/commits/<%= @branch %>/">Commits</a>
  </li>
</ul>

