<%= render 'mastercrumbs' %>
<br>
<%= render 'header' %>

<table class="table">
<tr><td>
<div><%= @commit.message %></div>
<div><%= @commit.author.name %></div>
</td><td>
<%= @commit.sha[0..10] %><br>
<a href="/<%= current_user.name %>/<%= @repository.name %>/tree/<%= @commit.sha %>">Browse Code</a>
</td>
</tr>
</table>
<pre>
<%
result = ""
@parent.diff(@commit).to_s.split("\n").each {|line|
	if line[0..2] == "---"
	elsif line[0..2] == "+++"
		result += "</pre><a class='btn pull-right' href=\"/#{current_user.name}/#{@repository.name}/blob/#{@commit.sha}/#{line[6..-1]}\">View file @#{@commit.sha[0..7]}</a><h3>" + line[6..-1] + "</h3><br><pre>\n"
	elsif line[0..2] == "@@ "
		result += "<span class='diff diff-control'>" + line + "</span>\n"
	elsif line[0] == "+"
		result += "<span class='diff diff-add'>" + h(line) + "</span>\n"
	elsif line[0] == "-"
		result += "<span class='diff diff-remove'>" + h(line) + "</span>\n"
	else
		result += "<span class='diff'>" + h(line) + "</span>\n"
	end
}
%>
<%= raw result %>
</pre>
