<%= render 'mastercrumbs' %>
<br>
<%= render 'header' %>

<table class="table">
<% @commits.each do |commit| %>
  <tr>
    <td>
      <div>
        <%= link_to commit.message, commit_repository_path(@repository, commit.sha) %>
      </div>
      <div><%= commit.author.name %> authored <%= timediff(commit.date) %> ago</div>
    </td><td>
      <%= link_to commit.sha[0..10], commit_repository_path(@repository, commit.sha) %>
      <br>
      <%= link_to "Browse code <i class=\"icon-arrow-right\"></i>".html_safe, tree_repository_path(@repository, commit.sha, "") %>
    </td>
  </tr>
<% end %>
</table>
