  <h1><%= current_user.name %></h1>
  <hr>
<div class="span4">
  <p>
    <%= link_to 'New Repository', new_repository_path, :class => "btn" %>
  </p>
  <br>

  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">Repositories (<%= @repositories.count %>)</li>
      <% @repositories.each do |repository| %>
        <li><a href="/<%= current_user.name %>/<%= repository.name %>"><%= repository.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>
