<%= render 'header' %>

<div class="container">
  <code>git clone git@localhost:<%= current_user.name %>/<%= @repository.name %></code>
</div>

<br>

<% if @repository.description != "" %>
<p class="well">
  <%= @repository.description %>
</p>
<% end %>

<% if @commit[:hash] != "" %>
<div class="well">
  Latest commit to the <%= @branch %> branch
  <div>
    <%= @commit[:subject] %>
  </div>
  <div>
    <%= @commit[:author] %>
  </div>
</div>
<br>
<% end %>

<%= render 'breadcrumbs' %>
<%= render 'files' %>
<%= render 'readme' %>

