<%= render 'mastercrumbs' %>
<div class="subnav">
  <div class="btn-group">
    <div class="well description">
    <% if @repository.description != "" %>
      <%= @repository.description %>
    <% else %>
      No description
    <% end %>
    </div>
  </div>

  <div class="btn-group">
    <button class="btn">SSH</button>
    <input type="text" class="span5 giturl" value="git@localhost:<%= @repository.user.name %>/<%= @repository.name %>"></input>
  </div>
</div>
<br>
<%= render 'header' %>

<i class="icon-time"></i> Latest commit to the <b><%= @branch %></b> branch
<div class="alert alert-info commit">
  <%= link_to @commit.message, commit_repository_path(@repository, @commit.sha) %>
</div>
<div class="commit_sub">
  <b><%= @commit.author.name %></b> authored <%= timediff(@commit.date) %> ago
  <span class="pull-right">
    <%= link_to "commit: #{@commit.sha}", commit_repository_path(@repository, @commit.sha) %>
  </span>
</div>

<%= render 'breadcrumbs' %>
<%= render 'files' %>
<%= render 'readme' %>

