<h1>Jobs</h1>
<%= link_to "New Job", new_job_path, class: "btn" %>
<br><br>
<% if @job %>

  <% @job.errors.full_messages.each do |msg| %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg if msg.is_a?(String) %>
    </div>
  <% end %>
<% end %>

<% @repositories.each do |repo| %>
  <ul>
    <% if repo.jobs.count > 0 %>
      <li>
        <h2><%= repo.name %></h2>
        <ul>
        <% repo.jobs.each do |job| %>
          <h3><%= build_status_badge(job) %> <%= job.branch %></h3><%= link_to "Delete", job_path(job), confirm: "Are you sure?", method: :delete %>
        <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
