<h1>Jobs</h1>
<hr>
<% if @job %>
  <% @job.errors.full_messages.each do |msg| %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg if msg.is_a?(String) %>
    </div>
  <% end %>
<% end %>
<div class="row">
  <div class="span2">
    <p>
      <%= link_to "New Job Type", new_job_type_path, class: "btn" %>
    </p>
    <ul class="nav nav-tabs nav-stacked">
    <% JobType.all.each do |job_type| %>
      <li>
        <%= link_to job_type.name, edit_job_type_path(job_type) %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="span10">
    <p>
      <%= link_to "New Job", new_job_path, class: "btn" %>
    </p>
    <table class="table table-striped">
      <% @repositories.each do |repo| %>
        <% if repo.jobs.count > 0 %>
          <tr>
            <th colspan=10><%= repo.name %></th>
          </tr>
          <tr>
            <th></th>
            <th>Branch</th>
            <th>Type</th>
            <th>Last Success</th>
            <th>Last Failure</th>
            <th>Last Duration</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <% repo.jobs.each do |job| %>
            <tr>
              <td><%= build_status_badge(job) %></td>
              <td><%= job.branch %></td>
              <td><%= job.job_type %></td>
              <td><%= last_success(job) %></td>
              <td><%= last_failure(job) %></td>
              <td><%= last_build_duration(job) %></td>
              <td><%= link_to "Edit", edit_job_path(job), class: "badge" %></td>
              <td><%= link_to "Build", build_job_path(job), class: "badge" %></td>
              <td><%= link_to "Log", job_path(job), class: "badge" %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
