<h1>Jobs</h1>
<hr>
<p>
<%= link_to "New Job", new_job_path, class: "btn" %>
</p>
<% if @job %>
  <% @job.errors.full_messages.each do |msg| %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg if msg.is_a?(String) %>
    </div>
  <% end %>
<% end %>

  <table class="table table-striped">
  <% @repositories.each do |repo| %>
    <% if repo.jobs.count > 0 %>
      <tr>
        <th colspan=9><%= repo.name %></th>
      </tr>
      <tr>
        <th></th>
        <th>Branch</th>
        <th>Type</th>
        <th>Last Success</th>
        <th>Last Failure</th>
        <th>Last Duration</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% repo.jobs.each do |job| %>
        <tr>
          <td class="span1"><%= build_status_badge(job) %></td>
          <td><%= job.branch %></td>
          <td><%= job.job_type %></td>
          <td><%= last_success(job) %></td>
          <td><%= last_failure(job) %></td>
          <td><%= last_build_duration(job) %></td>
          <td class="span1"><%= link_to "Build", build_job_path(job), class: "badge" %></td>
          <td class="span1"><%= link_to "Log", job_path(job), class: "badge" %></td>
          <td class="span1"><%= link_to "Delete", job_path(job), confirm: "Are you sure?", method: :delete, class: "badge" %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  </table>

