<%= form_for(@key) do |f| %>
  <% @key.errors.full_messages.each do |msg| %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg if msg.is_a?(String) %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :key %>
    <%= f.text_area :key, class: "span12", rows: "5" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
