<!DOCTYPE html>
<html>
<head>
  <title>Slit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">Gitswitch</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li><%= link_to 'Home', "/" %></li>
						<li><%= link_to 'Repositories', repositories_path %></li>
						<li><%= link_to 'Keys', keys_path %></li>
						<li>
						<% if user_signed_in? %>
							<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
						<% else %>
							<%= link_to('Login', new_user_session_path)  %>  
						<% end %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<% flash.each do |name, msg| %>
			<div class="alert alert-<%= name == :notice ? "success" : "error" %>">
				<a class="close" data-dismiss="alert">&#215;</a>
				<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
			</div>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>

